<%- include("partials/header"); -%>

<div class="heading">
  <h1>WELCOME TO BANKING SYSTEM</h1>
</div>
<div>
  <div class="homeButtons">
    <button class="btn btn-light" type="button" name="button"><a href="/viewCustomers">View All Customers</a></button>
  </div>
  <div class="homeButtons">
    <button class="btn btn-light" type="button" name="button"><a href="/transaction">Make a transaction</a></button>
  </div>
  <div class="homeButtons">
    <button class="btn btn-light" type="button" name="button"><a href="/viewTransactions">View Transaction History</a></button>
  </div>
  <div class="img">
     <img src="/money.jpg" alt="test image">
  </div>
</div>
<%- include("partials/footer"); -%>
