<%- include("partials/header"); -%>
  <div class="transactionMessage">
       <h1><%=message%></h1>
  </div>
  <br>
  <div class="transactionStatusButton">
    <button class="btn btn-light" type="button" name="button"><a href="/viewTransactions">View Transaction History</a></button>
  </div>

<%- include("partials/footer"); -%>
